doctype html
html
  head
    title= title
    block styles
  body
    block content
    script(src="/socket.io/socket.io.js")
    script(src="/test.js" type="text/javascript")
    script(src="/app.js" type="text/javascript")
